[2016-09-11 12:46] theMK2k opened #1 "Add possibility to manage user-defined platforms"
Currently, ML only supports the platforms it ships with its database.

The possibility to add custom platforms would give users more freedom in using ML.

[2016-09-15 09:16] theMK2k opened #2 "Import new Genres, Update existing Genres"
MobyGames is adding Genres. Upon MobyUpdate check each genre for update or if it does not exist add it to moby.tbl_Moby_Genres with No_Category set.

[2016-09-23 09:22] theMK2k opened #3 "Differentiate between on- and offline multiplayer"

[2016-09-23 09:26] theMK2k opened #4 "Integrate the new MobyGames Genre system"
MobyGames introduced a whole bunch of new genres (100+) and genre types (ca. 10).

[2016-10-09 16:28] theMK2k opened #5 "Add SNK Neo Geo Pocket to the database"

[2016-10-09 16:28] theMK2k opened #6 "Add SNK Neo Geo Pocket Color to the database"

[2016-10-09 16:30] theMK2k opened #7 "SNK Neo Geo Pocket 01 Add Moby Links"

[2016-10-09 16:30] theMK2k opened #8 "SNK Neo Geo Pocket Color 01 Add Moby Links"

[2016-10-09 16:31] theMK2k opened #9 "NEC SuperGrafx 01 Add Moby Links"

[2016-10-09 16:31] theMK2k opened #10 "NEC TurboGrafx / PC Engine 01 Add Moby Links"

[2016-10-09 16:32] #6 closed, assigned to nobody

[2016-10-09 16:32] #5 closed, assigned to nobody

[2016-10-09 16:39] #9 closed, assigned to theMK2k

[2017-04-21 09:47] #2 closed, assigned to theMK2k

[2017-04-21 09:47] #4 closed, assigned to theMK2k

[2017-04-21 09:47] #7 closed, assigned to scjacobi

[2017-04-21 09:47] #8 closed, assigned to scjacobi

[2017-04-21 09:47] #10 closed, assigned to scjacobi

[2017-07-03 01:42] anewuser opened #11 "Use pre-existing image folders"
From what I've seen, you've only developed ways to import images manually for each game or created while an emulator is running a specific game.

Please consider adding an option to specify directories that already contain images (snapshots, title screens etc.) for a platform.

MAME users can download full sets of images from [Progetto Snaps](http://www.progettosnaps.net/snapshots/), and people wh

[2017-07-03 07:13] theMK2k commented on #11
Hey @anewuser, Metropolis Launcher already works with files on a per-name basis. The directories which Metropolis Launcher expects are already shipped with the release (it is the "extras\emulation" directory incl. subdirectories. Of course you can fill them with downloaded snapshot packs.

Documentation: [https://documentation.metropolis-launcher.net/index.html?extras_screenshots_etc_.htm](https:/

[2017-07-03 07:22] theMK2k commented on #11
I see you request some import functionality. I currently vote against it, because it is simply a task of
- download extras pack
- copy or move the files in the expected directories

This is more or less the same with downloaded MAME extras packs and the MameUI launcher.

RetroArch is able to auto-download extras, which could be a nice feature for Metropolis Launcher in the future. The RetroArch bo

[2017-07-03 15:27] anewuser commented on #11
I missed that help page, sorry.

And no, I didn't mean to "import" (copy) the images. I meant to read them directly from the custom paths provided, but I understand that you prefer to keep everything organized under your application directory, and users may create symlinks in case they want to use other locations.

[2017-07-03 15:27] #11 closed, assigned to nobody

[2017-07-03 16:17] theMK2k commented on #11
No worries, that's why issues are for :)

The directory structure doesn't have to be under the application's installation dir, you can set it up in the Settings window next to "Extras Directory".

See [3] in [http://documentation.metropolis-launcher.net/index.html?settings.htm](http://documentation.metropolis-launcher.net/index.html?settings.htm)

[2017-08-28 03:25] lukeman3000 opened #12 "Add option to execute commands before launching a game, and upon closing of a game"
D-Fend Reloaded allows the user to execute commands before the game launches and after the game is closed. This can be useful for opening/closing a midi synth (such as Falcosoft Midi Player, for example), so that the synth only runs while the game is being played.

In the example image below, I have told DFR to execute mt32.exe when the game is launched and to execute kill.exe when the game is clo

[2017-08-28 03:42] lukeman3000 opened #13 "Add option for Metropolis Launcher to remember size and position of window so that it opens in the same configuration each time"
**1. Allow MK2k to remember size and position of window so that it opens in the same configuration**

This is a somewhat minor aesthetic feature that I would like to see. D-Fend Reloaded allows the user to choose different options for the interface itself, such as restoring the window size/position from the previous session. Personally, I like starting the frontend in a smaller window. It would be

[2017-08-28 03:53] lukeman3000 opened #14 "Add option to start directly within "Games and Emulation" menu"
Would save a mouse click each time. User can click the back arrow to access settings and apps menus if necessary (or can disable this feature).

[2017-08-28 04:45] lukeman3000 opened #15 "Add option to customize default values for emulator settings"
For example, I would like to add certain windowed and/or fullscreen resolutions, or certain output modes. I'm DOSBox ECE 4035 which features a patch called "pixel-perfect", and it adds the following output modes:

surfacepp
surfacenp
surfacenb
openglnb

I would like to add these as options to the output drop-down box when creating a template. And of course it would be helpful to change other defau

[2017-08-28 04:48] lukeman3000 opened #16 "Add right-click context menu option to edit game's options as it relates to emulator settings"
One particular feature of D-Fend Reloaded that I like is that when you right-click a game and click "edit", you can change the emulator settings for that particular game.

In MK2k, it looks like the only way to have discrete emulator settings from game to game (which is very important), is to create individual emulator templates for each game (in a separate menu), and to then select the matching t

[2017-08-28 04:51] lukeman3000 opened #17 "Decrease loading time when entering "Games and Emulation" menu"
I just timed this with my phone, and it took just over 8 seconds to access the "Games and Emulation" menu. This seems a bit long. What is the cause of such a long loading time? I've noticed that subsequent loading times are much shorter, but if the program is closed and re-opened, the initial loading time is very long.

[2017-08-29 09:43] lukeman3000 opened #18 "Add ScummVM platform"
Requesting addition of ScummVM platform

[2017-08-29 11:27] theMK2k commented on #13
The "various borders and sections within" should already be saved and restored.

Metropolis Launcher is currently configured to run maximized by default. Even if we get rid of that and make this optional, I wouldn't opt for save/restore of the window position because this could fail miserably for example if you save a position during a multi monitor setup and restore it at a single monitor setup.

[2017-08-29 11:30] theMK2k commented on #17
Metropolis Launcher isn't light weight and hasn't been advertized as such.

The initial loading times are caused by:
- big UI libraries with nice features
- meta data from the database

[2017-08-29 11:43] theMK2k commented on #16
When right-clicking a **PC - DOS** game in Metropolis Launcher and choosing **Edit Game**, you should see the **DOSBox Config** tab. In this tab you can adjust individual settings just for that game. The template you chose contains the basic settings which all can be overriden. Any overriden setting will be displayed in **bold**.

If you mean other Emulators besides DOSBox, please let me know.

[2017-08-29 11:44] #17 closed, assigned to nobody

[2017-08-29 11:47] theMK2k commented on #15
I heard from DOSBox ECE the first time. I'm in contact with the maintainer in order to officially support it and its patches.

I'll look into the user-defined enhancement of DOSBox options.

[2017-08-29 11:53] theMK2k commented on #14
Good idea, will look into it!

[2017-08-29 11:54] theMK2k commented on #12
Understood. Do you happen to know what "not working if using data files as commands" means? What are data files in this case?

[2017-08-29 18:50] theMK2k commented on #13
With low prio, I'll see what I can do about maximized/normal window state (via option) and save/restore of window location.

[2017-08-30 03:54] lukeman3000 opened #19 "Add option to change game (and other) paths from absolute to relative"
To increase portability of games collection, it would be useful to be able to change game paths (and all other relevant paths) to a relative structure.

For example:

`C:\Users\lmill\Desktop\Metropolis_Launcher\games\KQ1`

becomes

`.\games\KQ1`

It would also be useful to be able to specify helper programs in this manner as well, if that feature is added. That way, the Metropolis_Launcher folder

[2017-08-30 04:06] lukeman3000 opened #20 "Add option to view games with icon view"
This feature request is purely cosmetic in nature, but it would be nice to have an icon view (without the additional windows and such) similar to this:

![8wtplfl](https://user-images.githubusercontent.com/31397270/29854870-07e563ee-8d0e-11e7-91fd-9b564a580e7b.png)

I have many icons that I have custom-made for each of my games (some icons come from Collector's Sierra Help installers), but I reall

[2017-08-30 04:33] lukeman3000 opened #21 "Errors that occur when adding an installed game directory"
[Video](https://www.youtube.com/watch?v=MAfZG4naefA&feature=youtu.be)

Error messages:

`No tags have been found, the window will be closed`
I don't think this one is an error, but I am curious as to the nature of tags and how/where they might exist as well as their function.

`There has been an error while rescanning a DOSBox game. The error was: Syntax error: Missing operand after 's' operator.`

[2017-08-30 09:09] theMK2k commented on #21
### Tags

In the emulation scene, filenames are not only carrying the game's name but also meta data in tags:

Example: King's Quest II- Romancing the Throne v2.1 (1987)(Sierra On-Line, Inc.)

Here we have the Version "v2.1", year "(1987)", and Publisher "(Sierra On-Line, Inc.)" as tags.

Now, when you add a game to Metropolis Launcher, it tries to identify tags within the file- and directory name

[2017-08-30 09:15] lukeman3000 commented on #21
So, if a game doesn't have any tags that MK2k can find, I can still manually pick the game out of the ROM manager list and auto-populate all data fields in the same way, right?

[2017-08-30 09:34] theMK2k commented on #21
If a game file- or directory name doesn't have tags, the Tag Parser Settings window is not neccessary, hence the message. The same meta data can be applied later in the "Edit Game" dialog.

[2017-08-30 13:32] theMK2k commented on #21
Could you please provide the list of filenames under your "KQ1 SCI" directory?

I assume one of the executables may have an apastrophe in it's file name. This could be an .exe but also .bat and .com are treated as executables.

I tested with 17.356 DOS releases and never stumbled upon an executable with such a name, though.

[2017-08-30 14:48] theMK2k commented on #21
OK, the error is correctly handled now. However, any DOS executable should be DOS-compatible, i.e. follows the 8.3 filename convention.

[2017-08-30 14:48] theMK2k commented on #21
Closing this issue now, you'll get a beta build where you can test and verify later.

[2017-08-30 14:48] #21 closed, assigned to theMK2k

[2017-08-30 16:02] theMK2k commented on #18
I looked a bit at ScummVM. It seems you can't just launch scummvm with the path to the game. So the generic launching approach wouldn't work here. This is not a problem, as MAME also doesn't work that way and is supported by Metropolis Launcher.

Another thing is, it seems ScummVM needs to:
- scan the available games itself
- save the results to the scummvm.ini

Only after these steps, launching a

[2017-08-30 17:57] theMK2k commented on #18
Is there a use case where you need more than one version of ScummVM?

If so, would there be mutiple scummvm.ini files on the same system?

I'm asking, because MAME is currently only supported as one instance in Metropolis Launcher. I would treat ScummVM the same way. But if multiple instances are neccessary, I have to go a different route.

[2017-08-30 18:04] lukeman3000 commented on #18
It is possible to launch games without them being added to the ScummVM GUI's game list first. See [here](http://forums.scummvm.org/viewtopic.php?p=73659&sid=a791a180a57f1ebe618ec8df34b6decf).

The way that (I think) D-Fend Reloaded handles both ScummVM and DOSBox is by generating a dosbox.conf and scummvm.ini from the GUI's options somewhere in a temporary folder each time a game is launched, and

[2017-08-30 18:10] theMK2k commented on #18
About directly launching:

The forum post tells it works with: `"C:\Program Files\Leisure Suit Larry\scummvm.exe" -f -p "C:\Program Files\Leisure Suit Larry" lsl1`

My problem with this is: the **lsl1** part at the end. There is no way for me to find out that a given instance is lsl1, atlantis, dig or whatever. So it seems I'll stick to the (re)import via scummvm.ini, this way it will be safe even

[2017-08-30 20:42] theMK2k commented on #18
About multiple versions:

There's no issue with DOSBox as you can add multiple DOSBox instances to the Emulators collection, define global default instance and per-game default instance.

However, the game list for ScummVM in Metropolis Launcher will be tied to a single scummvm.ini so i thought it would be consequencial to only support a single ScummVM.

I won't do that and let the user add as man

[2017-08-30 20:52] lukeman3000 commented on #18
Additionally, here's a [complete list of Game IDs](http://scummvm.org/compatibility/).

The "Game Short Name" is the Game IDs which is used to start the game (in command-line fashion). I'm not sure if having this list may potentially change how you want to go about things. There aren't all too many games supported by ScummVM, so if you had these game IDs in a list, a user could simply choose the g

[2017-08-30 21:00] theMK2k commented on #18
A proper ScummVM Fullset is well over 700 games (incl. alternative languages). If I provide a list by myself I have to take care of updates, which is not the way to go. It's unfortunate that ScummVM doesn't provide a command-line based scan to let me know the short name of a certain game in order to launch it :(

[2017-08-30 21:22] lukeman3000 commented on #18
In the readme, it states the following:

line specifies which game is started. It either corresponds to an
arbitrary user defined target (from the configuration file), or to a
built-in gameid.

So the target can be defined in the config as "gameid" in the scummvm.ini file; e.g.:

[code]

Furthermore, I think that ScummVM _[does](http://wiki.scummvm.org/index.php/User_Manual/Appendix:_Command_line_

[2017-08-30 21:34] theMK2k commented on #18
Well, none of the "list" commands seem to output anything. By the looks of it however, list-games just lists (from an internal db?) but doesn't scan.

[2017-08-30 21:35] theMK2k commented on #18
I'm currently still at the point providing an import by scummvm.ini, this would definitely work.

[2017-08-30 21:50] theMK2k commented on #18
While we're at it: what exactly is the ScummVM support in D-Fend Reloaded? Does it support platforms other than DOS? As ScummVM doesn't need executables, how do you add ScummVM games to D-Fend Reloaded?

[2017-08-30 21:59] lukeman3000 commented on #18
Like [this](https://www.youtube.com/watch?v=Bjeuq_6bw9Y&feature=youtu.be).

You choose the game folder with the necessary files, and then from a drop-down box, the game is chosen. I'm guessing that this is so that the gameid can be applied to the command line launching of scummvm.

[2017-08-30 22:02] theMK2k commented on #18
Thanks! That explains some of the open questions I had. Actually I didn't have the option "Add ScummVM profile" in the d-fend reloaded instance on my machine.

[2017-08-30 22:07] lukeman3000 commented on #18
There is also a "wizard" which sets up the games in a more automatic fashion, but I never use it. The large database is only accessed if you use the wizard (which incurs a slight loading time), and D-Fend Reloaded also does not automatically download meta data for the games unless you tell it to connect to moby games to do so.

[2017-08-31 22:11] theMK2k commented on #18
Alright, I dropped a post on scummvm forums. The situation is not ideal to say the least :)

[2017-08-31 23:39] theMK2k commented on #19
This is feasible.

TODO:
- integrate a "portable mode" which must be activated
- the portable mode needs a defined root directory
- a placeholder %game_root% will be used in the directory definitions for games/roms etc.
- a placeholder %emu_root% will be used in the directory definitions for emulators
- when "portable mode" is activated, every directory in the database will be analyzed for compati

[2017-08-31 23:41] theMK2k commented on #19
The %game_root% as well as %emu_root% may well be set as ".\" by the user when games AND emulators are below Metropolis Launcher's application directory.

[2017-08-31 23:43] #16 closed, assigned to nobody

[2017-08-31 23:46] theMK2k commented on #18
Milestone reached: Import of ScummVM games from scummvm.ini implemented.

[2017-09-03 16:33] theMK2k commented on #18
Milestone reached: Import from command line scan (ScummVM 1.10.0 necessary)

[2017-09-03 16:34] theMK2k commented on #18
Milestone reached: Linking to MobyGames metadata of 300+ ScummVM game entries

[2017-09-03 16:36] lukeman3000 commented on #18
Awesome. How does the command line scan work?

[2017-09-03 16:46] theMK2k commented on #18
I do it this way:

`x:\path\to\scummvm.exe --config="x:\path\to\temporary\scummvm.ini" --path="x:\path\to\scummvm\games" --recursive --add`

This lets scummvm.exe recursively scan the games under x:\path\to\scummvm\games and saves them in a new, temporary scummvm.ini

The scummvm.ini gets scanned by the launcher and finally the entries therein get added :)

Mind you, this only works with v1.10.0 (

[2017-09-03 16:48] theMK2k commented on #18
Had the help from scummvm staff: http://forums.scummvm.org/viewtopic.php?t=14408

[2017-09-03 16:49] theMK2k commented on #18
Interestingly the neccessary command line options have just been introduced to the current dev-branch of scummvm, else it wouldn't be possible. So, great timing there :)

[2017-09-04 10:00] theMK2k commented on #18
Milestone reached: simple launching even with older scummvm versions, no scummvm settings though

[2017-09-04 15:26] theMK2k commented on #18
I'm working on the ScummVM settings within Metropolis Launcher right now and could need some help:

the ScummVM Wiki site http://wiki.scummvm.org/index.php/User_Manual/Configuring_ScummVM#General_config_file_settings shows all possible config keywords. What I'm missing here are the default values for each. Any idea?

[2017-09-09 00:22] theMK2k commented on #18
Milestone reached: over 60 options now configurable in the GUI with a template-based configuration system (like DOSBox)

[2017-09-10 13:05] theMK2k commented on #18
Alright, we're at the point where a beta release for testing makes sense. Download here: https://mk2k.net/releases/pc/emu/metropolis_launcher_1.1.0b1-mk2k.zip

Just unpack and overwrite existing files. Your current database should not be affected.

- Add a ScummVM instance in the Emulator Settings, with support for the ScummVM platform and optionally as default emulator for the ScummVM platform
-

[2017-10-17 05:12] BabaJeanmel opened #22 "AutoIT Support"
One of the most interesting features on launchers such as hyperspin is the ability to use metadata (title, filename, extension, 1 or 2 custom fields) from roms and use them within scripts.

For instance, you can :
- Detect if the game is on multiple discs, and send to the emulator the filepaths of the first two to load
- Bypass the lack of command line support from some emus by directly entering f

[2017-10-17 09:20] theMK2k commented on #22
Thanks for your detailled description here.

I have some initial questions:

1. Does Metropolis Launcher have to provide the metadata as input parameters to the script or is it neccessary that Metropolis Launcher generates the scripts by itself (from a template of some sorts) and provides them to the AutoIt?

2. Is it sufficient to assign an AutoIt script per emulator or per game?

My TODO:
- add

[2017-10-17 18:17] BabaJeanmel commented on #22
1) I think it's better to provide metadata only. Scripts are very different from one emu to the other, so a general template would be kinda difficult to set up. Besides, being able for the end user to tweak existing scripts per emu to add their own key shortcuts or additional features could be great !
2) Yes. I use a script per platform. For special game cases, I use the custom fields and they are

[2017-10-17 18:34] BabaJeanmel commented on #22
[code]

[2017-10-17 18:46] BabaJeanmel commented on #22
Another one for OpenMSX :

[code]

[2017-10-17 18:49] BabaJeanmel commented on #22
Here are both files without comments and more easily readable. I've renamed them to "txt" but they are, in fact, au3 files (ECC requires them to have the .eccscript extension)

[openmsx.txt](https://github.com/theMK2k/MetropolisLauncher/files/1392197/openmsx.txt)
[winape.txt](https://github.com/theMK2k/MetropolisLauncher/files/1392198/winape.txt)

I've got plenty of other ones (a lot of them aren'

[2017-10-17 19:16] theMK2k commented on #22
Wow, that's some pretty serious scripting going on there. I wonder if the actual emulator is even neccessary here, as it seems to be just another parameter for the script.

Could you please provide an exported eccScriptSystem.au3 containing the metadata. Ideally one with more than one ROM/Disk file?

[2017-10-17 19:23] BabaJeanmel commented on #22
Well... I can script, but writing serious code is totally out of my reach. So I guess I still need these emus after all ^^

Original file names are eccScriptSystem.au3 (tweaked to make daemon tools work again) and eccScriptRom.dat (contents changes each time you launch a different rom)

eccScriptRom.dat keeps info only on the file you launch. To make ECC process other ROMs/Disks, it's mandatory to

[2017-10-17 19:36] theMK2k commented on #22
Alright, many thanks. It's a bit overwhelming and I have to get my head around it. I'm still positive that we can get a nice AutoIT integration into Metropolis Launcher.

[2017-10-19 05:17] BabaJeanmel opened #23 "CHD support"
Retroarch now supports CHD (compressed images) files for a variety of platforms including PC-Engine CD, Sega CD, Playstation and Saturn. Metropolis Launcher can't currently "see" them when scanning a folder for roms. Would it be possible to add support for these files ?

[2017-10-19 07:55] theMK2k commented on #23
Support as in "chd files can be added" is trivial.

What isn't trivial is the actual game detection for CHDs:

With CD images Metropolis Launcher uses different techniques in order to identify the actual game in order to provide meta data. For example:
- Playstation games are identified by extracting the SYSTEM.CNF file from the ISO, within the SYSTEM.CNF we can read the identifying string, e.g. "

[2017-11-25 13:52] theMK2k commented on #18
ScummVM is now supported in v1.1.0

[2017-11-25 13:52] #18 closed, assigned to theMK2k

[2017-11-25 13:53] theMK2k commented on #15
DOSBox ECE is now supported with all its patches in v1.1.0.

I'll keep this issue open because we want to support user-defined values, which is currently not implemented.

[2017-11-27 12:48] bleuge opened #24 "Req. Mass roms adding"
It could be nice to auto-add roms to platforms.
Instead of going platform by platform adding roms, just add your roms folder (with or without subfolders inside). Knowing if a rom/file/zip... is Sega Genesis or N64 is easy using dats.
What do you think about this idea?
Regards.

[2017-11-27 16:18] theMK2k commented on #24
Thanks for your feature request, it's actually not the first time I thought about this, but there are some caveats:

1. What do we do with unknown roms?

Do we just skip them? Do we let the user decide which platform they belong to (for each and every single unknown rom)?

2. How do we handle unknown filename tags?

The tag parser can fill up with lots of filename tags easily from a single platfor

[2017-11-27 16:40] bleuge commented on #24
Very good questions...

(I am going to dump my brain here, sorry)

I know this is idea is easy to say but difficult to solve, sorry...

The idea is simple. You install Metropolis, the first button is add content, you put your roms folders and it start scanning, identifying, etc... While the first games appears in the DB you can start gaming while the launcher keeps working.

Well, unknown roms, ar

[2017-11-29 15:32] jxhicks opened #25 "DOSbox ECE Fluidsynth patch issue"
There appears to be a problem with the Fluidsynth gain setting for DOSbox ECE.  It seems that when using the default setting of 0.600 it somehow gets reset to a null value in the .conf file resulting in no audible sound from MIDI in games.  Setting it to something else, like 0.610 results it it working as expected.  I do not have this problem with DOSbox ECE on it's own.

[2017-11-29 16:51] theMK2k opened #26 "Edit Game | DOSBox Settings | Midi Config | Fluidsynth Settings invisible"
In the Edit Game dialog at DOSBox Settings | Midi Config the Fluidsynth Settings are not correctly visible.

[2017-11-29 18:01] theMK2k commented on #25
Bug confirmed.

Default values result in the following .conf entries:

fluid.samplerate=48000
**fluid.gain=**
fluid.polyphony=256
fluid.cores=default
fluid.periods=8
fluid.periodsize=512
fluid.reverb=yes
**fluid.reverb,roomsize=**
**fluid.reverb.damping=**
**fluid.reverb.width=**
**fluid.reverb.level=**
fluid.chorus=yes
fluid.chorus.number=3
**fluid.chorus.level=**
**fluid.chorus.speed=**
**fluid.

[2017-11-29 18:06] jxhicks commented on #25
Oh wow, I didn't even notice all the other settings being left blank too.  Thanks for looking into it.

[2017-11-29 18:36] theMK2k commented on #26
When changing the Midi Device (mt32, fluidsynth), which affects the visibility, all controls appear normal again.

[2017-11-29 18:56] theMK2k commented on #25
Found the culprit, output is now:

fluid.samplerate=48000
fluid.gain=.6
fluid.polyphony=256
fluid.cores=default
fluid.periods=8
fluid.periodsize=512
fluid.reverb=yes
fluid.reverb,roomsize=.61
fluid.reverb.damping=.23
fluid.reverb.width=.76
fluid.reverb.level=.57
fluid.chorus=yes
fluid.chorus.number=3
fluid.chorus.level=1.2
fluid.chorus.speed=.3
fluid.chorus.depth=8
fluid.chorus.type=0

which looks

[2017-11-29 18:58] jxhicks commented on #25
That's great, thanks so much.

[2017-11-29 19:04] theMK2k commented on #25
The bug should be fixed, please download the attached update and test :)

[Metropolis_Launcher_1.1.1b_fluidsynth.zip](https://github.com/theMK2k/MetropolisLauncher/files/1515143/Metropolis_Launcher_1.1.1b_fluidsynth.zip)

[2017-11-29 19:28] jxhicks commented on #25
Just tested it and it looks to be working properly now.  Thanks again.

[2017-11-29 19:53] #25 closed, assigned to nobody

[2017-11-30 02:10] jxhicks opened #27 "Adding an image through the user extras manager causes an error"
Trying to add an image through the user extras manager causes the following error:

Unable to cast object of type 'System.Drawing.Bitmap' to type 'cls_Extras_Result'.

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.InvalidCastException: Unable to cast object of type 'System.Drawing.Bi

[2017-11-30 14:06] theMK2k commented on #26
Fixed in upcoming v1.1.1 Bugfix release

[2017-11-30 14:06] #26 closed, assigned to nobody

[2017-11-30 14:09] theMK2k commented on #27
Could you please elaborate the exact steps you take leading to the error?

[2017-11-30 14:16] theMK2k commented on #27
No worries, I think I'm able to reproduce using the following steps:

Games & Emulation Main Screen
-> Open USER Extras Manager
-> Add Image -> From File -> choose some png -> Entry Appears (but no preview)
-> Press OK
-> ERROR

[2017-11-30 14:19] jxhicks commented on #27
Yep, that's what is happening for me as well.  I have gotten the error on two different machines (Windows 8.1 and 10) and with images of both .png and .jpg file type.

[2017-11-30 14:21] theMK2k commented on #27
This bug isn't machine-dependant. Working on a fix as we speak :)

[2017-11-30 15:59] theMK2k commented on #27
Fixed, see attachment and please test :)

[Metropolis_Launcher_1.1.1b2_extras.zip](https://github.com/theMK2k/MetropolisLauncher/files/1518482/Metropolis_Launcher_1.1.1b2_extras.zip)

[2017-11-30 16:26] jxhicks commented on #27
Working great now, thanks.

On Thu, Nov 30, 2017 at 9:59 AM, MK2k <notifications@github.com> wrote:

--
-Hicks

[2017-12-02 11:56] #27 closed, assigned to nobody

[2018-01-28 01:23] BoneofMalkav opened #28 "Request: Command Line Paramaters for DOS games (Probably some Windows games too.)"
I noticed that there's nothing for adding additional command line paramters for DOS and Windows games (example. Loading Elder Scrolls II: Daggerfall using FALL.EXE Z.CFG) Was wondering if you could add a text field for that in the Edit Game window.

[2018-01-28 10:33] theMK2k commented on #28
Thanks for your suggestions, will look into it!

For the Windows games: You can always create a link file (.lnk) and launch that instead of the game's .exe. In the link properties you can define command line parameters.

[2018-01-28 11:38] theMK2k commented on #28
For DOS: a workaround could be that you create a .bat file which launches the game's .exe incl. command line parameters.

[2018-01-30 12:12] theMK2k commented on #22
I just read up about AutoIT and saw that there seem to be two large communities:

1. AutoIT
2. AutoHotKey

It seems to me, that if we support scripting engines, we have to at least support both of the above.

[2018-04-03 02:46] Rendarius opened #29 "Any way to Assist?"
Anyway I could help you with this process perhaps??... Maybe by manually collecting the CHD numbers and compiling a list of them?..

EDIT - Sry Im new to Github and tried responding directly to Issue of CHD files...  I SEE I DIDNT scroll down far enough to CLEARLY see the comment area...And I also cant seem to find a way to Delete this comment....  Yeeeeeah a new thing to be a fresh newbie at... I

[2018-04-03 02:54] Rendarius commented on #29
[](url)

[2018-04-03 02:54] #29 closed, assigned to nobody

[2018-04-03 02:56] Rendarius commented on #23
Anyway I could help you with this process perhaps??... Maybe by manually collecting the CHD numbers or Identifiers... and compiling a list of them?..

[2018-04-03 07:12] theMK2k commented on #23
Hi @Rendarius,

thanks for your offer. If you know **how** to get any identifier from a CHD, please let me know. As this would be the first step towards a solution.

[2018-04-03 07:12] theMK2k commented on #29
all good, welcome aboard :)

[2018-04-04 00:24] Rendarius commented on #23
Ive been doing some major searching and I MAY have found something of
relevance for your needs.... perhaps...
Take a peek at this link and let me know if that works for you...

If not, - no worries, Im on the track of 1-2 possible other
options...(...that I think might pay off for my efforts...)...
Here is the link
http://www.mameaddicts.com/phpBB3/viewtopic.php?t=605

On Tue, Apr 3, 2018 at 3:12

[2018-04-04 10:38] theMK2k commented on #23
Relying on the file name of the actual CHD is not a good/reliable way :(

[2018-04-08 20:43] darkstar opened #30 "Source code for MKNetLib and MKNetDXLib"
Hi,

I was trying to compile Metropolis Launcher, however, I have a different version of DevExpress available. Changing the references was easy enough, however, there seem to be some hardcoded references inside these two libraries, for which no source code is available.

Please provide the source code to these two libraries so that they can be rebuilt against a different version of DevExpress

[2018-04-09 07:19] theMK2k commented on #30
Hi darkstar,

Currently, MKNetDXLib source isn't "ready for public exposure". I'll work on that and let you know.

Could you please verify if MKNetLib really has a dependency with DevExpress (it definitely should not)?

Which DevExpress version do you use?

What are your intentions with the sources, do you want to help the project? Or just tinker with them? :D

[2018-04-09 20:58] darkstar commented on #30
Hi theMK2k,

Yes, there are definitely references from the MKNetDXLib to the 15.2 version of DevExpress that are hardcoded in the DLL. Funny that you don't know that, given that you apparently wrote the libraries in question ;-)
![2018-04-09_224416](https://user-images.githubusercontent.com/43795/38522151-0204d3f8-3c48-11e8-9089-bed3aa2b894b.png)
![2018-04-09_224748](https://user-images.githubuser

[2018-04-09 21:04] darkstar commented on #30
Update: it is indeed possible to build MetropolisLauncher if one extracts the DLL files from the binary download and places them into the Libs/ directory. Complicated but it works. Still there's the issue of the missing source code of the two "NetLib"s (anything closed-source with "net" in the name immediately raises suspicions of being a data collector tool of some sort)

[2018-04-09 21:16] theMK2k commented on #30
I specifically asked, if MKNetLib (not MKNetDXLib) had deps of DevExpress ;)

The "Net" term is not "Network" but .Net/dotNet, no data collecting there.

[2018-04-12 13:04] theMK2k commented on #23
https://github.com/claunia/DiscImageChef seems to be a fine solution here

[2018-04-19 23:08] aaronjsolomon opened #31 "Can't download pictures in Moby extras manager"
First of all, let me say that I just found this program and it is INSANE. I've been looking for this for a couple years now. I don't see a huge community, but I hope you feel appreciated for this truly amazing piece of software!

An issue I'm having, is that pictures do not download from Moby. Everything behaves as normal--the Extras Manager loads, the list of items shows up on the left, but the p

[2018-04-20 06:52] theMK2k commented on #31
Hi @aaronjsolomon,

it's nice to hear from people who find Metropolis Launcher useful :)

Mobygames.com currently seems to have a problem with scraping bots which slow the site down to the point of the site being not reachable by users. They are using a service called CloudFlare which stops bots from accessing the site.

You can see this when opening mobygames.com in your browser: a message "Check

[2018-04-20 09:03] theMK2k commented on #31
...but I got an idea, stay tuned :)

[2018-04-21 08:56] theMK2k commented on #31
It seems, mobygames.com have shut off the bot blocking feature.

The idea I had is that I first check if archive.org's wayback machine has the image and downloads it from there. If not, mobygames.com will be checked next.

Now that mobygames.com currently allows bot access again, I won't rush that feature.

[2018-04-21 16:14] aaronjsolomon commented on #31
Very cool!

Is there any way I can help with this project?

I’m a weak coder (barely a scripter), but I am expert in databases (including SQLite), data scrubbing (e.g. with Excel), requirements analysis and documentation, good technical researcher,  well-versed in the software development lifecycle (in a corporate environment, not so much collaboration over github—but I can learn it quickly), and

[2018-04-21 17:28] aaronjsolomon opened #32 "Request: RocketLauncher front end plugin"
RocketLauncher (http://www.rlauncher.com) has a plugin format that allows it to connect to various front ends, in order to automatically retrieve lists of platforms and games. This lets users do all their complex emulator setup in RocketLauncher, and they can leverage that setup in multiple front ends with minimal configuration.

Since I already have RocketLauncher all set up to launch my ROMs, a

[2018-04-21 17:45] aaronjsolomon opened #33 "Request: Export to LaunchBox"
LaunchBox (http://www.launchbox-app.com) is a popular front end that has lots of polished HTPC-style features (e.g., choosing a game from an Apple iTunes-style animated full screen menu system using an Xbox 360 controller), but is severely limited in its data management features compared to Metropolis Launcher.

A very nice workflow would be:

1) Use Metropolis Launcher for intensive data manageme

[2018-04-21 17:49] theMK2k commented on #32
Thanks for the request.

I never felt the urge to use RocketLauncher, so I have to get into it before implementing a Plugin :)

I'll have a look and get back to it when I'm confident with it.

[2018-04-21 17:51] theMK2k commented on #33
I assume you're talking about Launchbox's BigBox mode.

I don't actively support paid-for software. So maybe you could have a look yourself? You can harvest the data from the ml.db SQLite file and create the LB's XML file from it?

[2018-04-21 17:53] theMK2k commented on #33
On the other hand... if there actually was a nice, free (preferably open source) HTPC style frontend, where an export from Metropolis Launcher would make sense, then we would be talking!

If not, oh well, I'd write my own :)

[2018-04-21 17:54] theMK2k commented on #31
Thanks for your reply, I'll write you a follow-up email :)

I'll keep this ticket open until next release, where archive.org is properly included in the image retrieval process :)

[2018-04-21 18:24] aaronjsolomon commented on #33
Fair enough! :) Getting my ROM data whipped into shape with ML will help immensely, if I attempt such an integration component for BigBox.

I think Kodi is open source and has some HTPC ROM launcher add-in, and I’ll keep an eye out for other options as well. Until further review, I withdraw my request. :)

Sent from my phone; please excuse brevity.

[2018-04-21 18:26] aaronjsolomon commented on #32
I’ll look into it as well. A plug-in might not actually be required, but just a config convenience, in which case, it’s a much lower-pri request.

Sent from my phone; please excuse brevity.

[2018-04-21 18:29] theMK2k commented on #32
I'll see what I come up with it. RL community seems to be reasonable, so this is definitely something I'd like to support :)

[2018-04-21 18:31] theMK2k commented on #33
Kodi is a good example! I think they'll integrate a HTPC Emulation launcher without the need for a plugin in the next major release, so I'd wait until that happened and jump on their train then :)

From analysis of Kodi's Media databases, the database schema is a bit odd though :)

[2018-04-22 05:11] aaronjsolomon opened #34 "MobyGames link detection ineffective for MAME ROMs"
How can I efficiently link MAME games to their Moby data?

- I added MAME ROMs to ML using the special MAME settings widget, where you specify the MAME exe and related data files, then click the "Scan" button to read games into ML.

- After performing this step, MAME games appear in ML's "Games & Emulation" screen, with the "Game", "Year", and "Developer" columns populated, but all other left blan

[2018-04-22 05:26] aaronjsolomon opened #35 "Crash when enabling auto filter row in ROM Browser"
Steps to reproduce:
- Open ML and go to Games & Emulation.
- Load the MAME Arcade platform (not sure that matters).
- Right-click a game and open the ROM Browser.
- In a column header of the LEFT table containing the list of user games (with column names "Filename", "Inner File", etc.), right-click and select "Show Auto Filter Row".

At this point, ML displays an unhandled exception dialog
- Title

[2018-04-22 09:19] theMK2k commented on #34
I can't recommend using mobygames meta data with arcade games yet because the quality of it is questionable. A much better meta data source are:

- history.dat
- mameinfo.dat
- gameinit.dat
- Category Files (nplayers.ini and catlist.ini)

That's why you don't see any game being automatically linked to mobygames meta data in the ROM Manager.

I'll have a look into the link detection for the MAME Ar

[2018-04-22 09:25] theMK2k commented on #35
I can reproduce, it isn't dependant on which platform has been chosen.

note to myself: check any grid that implements a RowCellStyle event - there are definitely more than just the one in the ROM Manager.

[2018-04-22 19:03] aaronjsolomon commented on #34
I haven’t actually used these supplementary dat files with MAME before, and am not familiar with them. I’ll spend some more time getting familiar with their benefits. I love that ML guides the user into leveraging these various DAT file formats. There’s obviously a ton of great work in the MAME scene compiling data in interesting ways, but it’s usually far from obvious how to incorporate that into

[2018-04-22 19:42] theMK2k commented on #34
I'll keep you posted about the Moby Link Detection for MAME Arcade. As soon as it is done, you'll get an intermediate build to test :)

[2018-04-22 20:32] aaronjsolomon commented on #34
AWESOME

From: MK2k <notifications@github.com>
Sent: Sunday, April 22, 2018 2:42 PM
To: theMK2k/MetropolisLauncher <MetropolisLauncher@noreply.github.com>
Cc: aaronjsolomon <aaronjsolomon@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [theMK2k/MetropolisLauncher] MobyGames link detection ineffective for MAME ROMs (#34)

I'll keep you posted about the Moby Link Detection for MAME Arcad

[2018-04-22 20:51] theMK2k commented on #34
Done.

When the MAME Arcade platform is chosen, ROM Manager's Moby Link Detection functionality now takes the "Name" field for matching instead of "File", "InnerFile" or "Directory". This should easily match approx. 4000 titles with 100% accuracy.

To test this, you can use the following beta build:

https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.2.0b1-mk2k.zip

Please back up

[2018-04-22 20:51] theMK2k commented on #35
Fixed.

To test this, you can use the following beta build:

https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.2.0b1-mk2k.zip

Please back up your previous installation before overwriting any data.

[2018-04-22 23:38] aaronjsolomon commented on #34
Ace!!

From: MK2k <notifications@github.com>
Sent: Sunday, April 22, 2018 3:51 PM
To: theMK2k/MetropolisLauncher <MetropolisLauncher@noreply.github.com>
Cc: aaronjsolomon <aaronjsolomon@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [theMK2k/MetropolisLauncher] MobyGames link detection ineffective for MAME ROMs (#34)

Done.

When the MAME Arcade platform is chosen, ROM Manager's Moby

[2018-04-23 07:40] theMK2k commented on #34
After testing, please post your results. So we can close the issue or do further work on it :)

[2018-04-23 12:27] aaronjsolomon commented on #35
YES!! That worked!

I have some follow-up questions that I’ll write up when I get the chance.

Thanks!

From: MK2k <notifications@github.com>
Sent: Sunday, April 22, 2018 3:52 PM
To: theMK2k/MetropolisLauncher <MetropolisLauncher@noreply.github.com>
Cc: aaronjsolomon <aaronjsolomon@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [theMK2k/MetropolisLauncher] Crash when enabling auto fil

[2018-04-23 12:35] aaronjsolomon commented on #34
Question:

Do you prefer that issues in your issue tracker be treated as highly targeted for quick resolution, or more as a topic around which you’d like all related discussions to occur?

I have some closely related follow-up questions having to do with tweaking the UI and data handling. Would you like me to post them to the existing issue, or close the existing one and begin new issues?

From: M

[2018-04-23 18:28] #35 closed, assigned to theMK2k

[2018-04-23 18:29] theMK2k commented on #34
I would suggest you report regarding the issue at hand and open a new one :)

[2018-04-26 03:04] #34 closed, assigned to theMK2k

[2018-04-26 03:05] #33 closed, assigned to nobody

[2018-04-26 03:19] aaronjsolomon opened #36 "Please add "Game" as a selectable column to the left panel of the ROM Browser"
Please make the "Game" column from the "Games & Emulation" screen available for selection in the left panel of the ROM Manager.

Manually linking an individual MAME rom to its corresponding Moby game is theoretically possible in the Rom Manager, but it's impractical because only the filename is available to the user in this screen. For non-MAME roms, the filename itself tells the user which game t

[2018-04-26 03:49] aaronjsolomon opened #37 "Allow users to remove games from their collection in the Games & Emulation screen"
In the Rom Manager, there is an option in the right-click menu to remove games from the collection. Please add it to the right-click menu in the Games & Emulation screen, as well. It would be very useful.

[2018-04-26 03:59] aaronjsolomon commented on #36
Closing this issue, at least for now. I have lots of picky requirements about data, and I'm going to experiment with meeting some of these requirements running updates directly against the SQLite database. This will help me get more familiar with the application's internals, and it will also stop me from generating tons of potentially low-value or arbitrary change requests.

After spending some ti

[2018-04-26 10:25] theMK2k commented on #37
Please consider, that ML has a Multi User Mode:

https://documentation.metropolis-launcher.net/index.html?multi_user_mode.htm

So, just adding a "remove Game from Collection" context menu item does not cover all possibilities.

How about a "Hide Game" entry? It would set the "hide" flag and thus wouldn't let the game show up in the Games & Emulation main list. In Multi User Mode, for a restricted

[2018-04-27 02:30] aaronjsolomon commented on #36
Re-opening. I'm still working with the database, but have reflected upon this further. Since you now allow bulk linking of MAME roms to Moby (and it's AWESOME that you do), than it only makes sense to allow selective linking of individual MAME roms as well, and this requires a "Game" column with a friendly name in left panel of the Rom Browser (as described in the original ticket), because there's

[2018-04-27 07:56] theMK2k commented on #36
I added a "Game Name" field to the Rom Manager which in case of the current MAME import functionality will provide the user-friendly name of the game.

For any other platform the field will be in most cases empty, as the game's name will be derived from the MobyGames game name or from the filename itself.

Please test with the following build: https://metropolis-launcher.net/beta-releases/metropol

[2018-04-27 16:23] aaronjsolomon commented on #36
YES!! Works great, thank you! :D

[2018-04-27 16:23] #36 closed, assigned to theMK2k

[2018-06-29 12:02] theMK2k commented on #28
I decided that this requirement will not be realized in the launcher.
For DOS: create a .bat file and use this as the MAIN executable
For WIN: create a .lnk file and use this as the game's executable

[2018-06-29 12:02] #28 closed, assigned to nobody

[2018-07-02 15:55] theMK2k commented on #22
Unfortunately some months went by until I actually start implementing the AutoIt 3 support. Anyways, here's how I would do it:

Metropolis Launcher will provide a sample script file which contains:

- Declaration of all available variables as Globals
- An INJECT START and END tag which will later be used for injecting actual data for the variables
- Start of user-defined code

The user prepares th

[2018-07-03 07:44] theMK2k commented on #12
Pre-Launch and Post-Launch commands are now supported.

Please download https://www.metropolis-launcher.net/beta-releases/metropolis_launcher_1.2.0b3-mk2k.zip and test. The feature is available in the Emulator Settings (https://documentation.metropolis-launcher.net/emulator_settings.htm) as a new tab called "Pre- and Post-Launch Commands".

[2018-07-03 22:53] BoneofMalkav commented on #12
Tried the Daggerfall paramiters in both Pre and Post Launch Commands
sections, no change.

On Tue, Jul 3, 2018 at 3:44 AM, MK2k <notifications@github.com> wrote:

[2018-07-04 06:36] theMK2k commented on #12
Hi @BoneofMalkav, thanks for stepping in. Please provide more details.

What do you mean by "no change"?
What exactly did you put into the Pre- and Post-Launch Commands? (Screenshots of the Launch Command Editor could be helpful)?

[2018-08-10 20:28] Cyorter opened #38 "Support for more Platforms"
It's maybe a bad idea because this will affect the moby.db size but even in case someone is agree, I request this.

There's some missing platforms in the systems list in Metropolis, and I know some people would be satisfied at seeing all their collection of favorite games per platform.
Let's just see for instance: a guy has just discovered Metropolis, and seen all it's features and the offline dat

[2018-08-10 20:30] Cyorter opened #39 "Improve the archive support with Merged Roms"
(also known as Parent/Clone roms, especially in MAME)
I don't mean fullsets in one 7z file, instead of this, I mean some versions of the same game into one file, for instance: Mega Man 3.7z
I think an option that allow the user sets it's own preferences of which versions of the games (s)he wants, for example: (U), (J), (E)... (Tw), (Ch). This makes the program choose first the (U) rom, if doesn't

[2018-08-10 20:32] Cyorter opened #40 "Per platform parameters"
This is a bad idea for people who uses RetroArch, but I still think for the other emulators is a good idea (or maybe not).

An good alternative would be implement this only for MAME/MESS, but let's remember MAME is updating every month ending and has a HUGE platforms list. So it's possible to list something like the auto configuration Metropolis already has, but exclusively for every working (and

[2018-08-10 20:33] Cyorter opened #41 "Minimize (or hide?) while playing"
Who wouldn't like if the Launcher every time loads the rom and minimize automatically? Admit it, it's great! Then, when you close the emulator and the Launcher re-opens after waiting for you having fun.
Edit: I see this is implemented only for Applications, why not also for Games & Emulation?

[2018-08-10 20:34] Cyorter opened #42 "Soft Updates"
Another bad idea I think.
I did think it would be amazing for people who already has Metropolis, to download a soft update.
What are you talking about? Easy, not everybody have an very great internet (but well is better than nothing), and Metropolis is too large in size (even more than LaunchBox), and that's due to the moby.db and rombase.db. So an update that excludes these two files will result

[2018-08-10 20:36] Cyorter opened #43 "CloneCD support"
Most emulators for disc-based platforms also support ccd/img/sub files, and some emulators (like Gens or Xebra) read only one bin file so if you have multiple bin files and a cue file, oooh $%&/, and sometimes we need to merge them into one, and most times we merge to a ccd file.
Maybe this is a good idea, for people who are used to ccd files, or for people who converts their multi-bin files with

[2018-09-02 18:26] lukeman3000 commented on #37
Why not both? One option to uninstall the game entirely and the other to hide it?

[2018-09-02 18:28] lukeman3000 commented on #13
Perhaps at the least, being able to start the launcher in windowed mode and with the size of the window remembered (not necessarily the location) would be nice. Personally, I have autohotkey scripts which start all of my game windows in the center of my screen; I game on a 2560x1440 monitor and much prefer windowed mode for older games due to the fidelity of the graphics.

That said, if window pos

[2018-09-03 10:23] theMK2k commented on #13
The following beta release
- saves the main window state, size and location on close
- loads and restores main window state, size and location on startup

Currently there is no check for out-of-bounds during restore.

Please download and test. Backup your current Metropolis Launcher installation before extract/overwrite.

https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.2.0b4-mk

[2018-09-08 09:11] theMK2k opened #44 "Allow Users to unlock a Platform even if no metadata exists"
moby.db lists over 100 platforms, however, only 39 are visible to the user, because metadata is available.

Add an option to the Platform Settings dialog where a user may add a platform from the list of available platforms even if metadata is not available.

Show the user an information about the implications.

(not sure yet) let the user decide if the platform is multivolume or not

[2018-09-10 20:17] KrivenRaven opened #45 "Kodi .nfo Metadata Export"
Hey, I brought this up earlier on Reddit. If you do implement some kind of export function for other front ends, like I said I would really like one which would export a .nfo file formatted like the movie .nfo files that Kodi uses. I've already gone to the trouble of doing this for a number of games for my own use, but an automated solution would save me years of work. I know plenty of other peopl

[2018-09-10 20:47] theMK2k commented on #45
Hi @KrivenRaven,

thanks for your suggestion.

At first I'd like to get an idea on how a game collection managed by Kodi may look like. Can you tell me if this is a feature of a more recent version and if there is a small tutorial to set things up?

My own Kodi instance is v17.6 and it doesn't seem to support (emulated) games, just Videos, Music and Pictures. What am I missing here?

[2018-09-11 22:12] KrivenRaven commented on #45
Kodi 18 actually has RetroPlayer, which is a modified RetroArch built into the Kodi environment. Unfortunately, it doesn't feature metadata at the current time.

What I'm talking about--and what my set-up currently is--looks like the attached images. Those are Kodi 17.6
![kodi games 1](https://user-images.githubusercontent.com/43152557/45390606-d4fc9600-b5ed-11e8-8dfb-b6e1e5e90550.png)
![kodi game

[2018-10-19 10:44] theMK2k commented on #22
AutoIT and AutoHotKey is supported with v1.2.0

[2018-10-19 10:44] #22 closed, assigned to theMK2k

[2018-12-31 05:30] alandillon opened #46 "Issue on Mass Import"
When importing a folder I get the following:

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

---- Exception Text ----
System.NullReferenceException: Object reference not set to an instance of an object.
   at Metropolis_Launcher.frm_Tag_Parser_Edit.Extract_Content_From_FileName(String FileName, Dictionary`2& dict_Contents, ArrayList& a

[2018-12-31 10:07] theMK2k commented on #46
Hi,

thanks for the report. We may need a bit more insight here though.

The error comes from the Tag Parser (see: https://documentation.metropolis-launcher.net/tag_parser_settings.htm?zoom_highlightsub=tag%2Bparser)

So, at the moment I suspect that you have one or more file names where the tag parser trips up.

Now, I don't know how many files you have in the folder, but could you please try to

[2019-01-24 04:34] Tetriser commented on #1
Would love to see this feature going on. ^ ^

[2019-01-24 07:48] theMK2k commented on #1
@Tetriser: it's actually a feature I'm currently working on. Would you mind to test it in a few days?

[2019-01-28 03:58] Tetriser commented on #1
@theMK2k Sorry for late reply, but sure.

[2019-01-31 19:58] theMK2k commented on #1
https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.3.0b1-mk2k.zip

[2019-01-31 21:51] theMK2k commented on #1
Download this beta build and you can use the context menu (right click) within the Platform Settings dialog in order to add more platforms (either from a very extensive list or even custom platforms named by yourself).

[2019-02-01 11:42] theMK2k commented on #44
https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.3.0b1-mk2k.zip

this beta ships with 250+ platforms and the possibility to add them to the user's list of platforms

[2019-02-01 11:43] theMK2k commented on #13
done. it is included in the 1.2.0 release

[2019-02-01 11:43] #13 closed, assigned to theMK2k

[2019-02-01 11:44] theMK2k commented on #31
done. it is included in 1.2.0 release

[2019-02-01 11:44] #31 closed, assigned to theMK2k

[2019-02-01 11:44] #12 closed, assigned to theMK2k

[2019-02-01 11:47] theMK2k commented on #38
https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.3.0b1-mk2k.zip

this beta ships with 250+ platforms and the possibility to add them to the user's list of platforms
you can also create custom platforms

[2019-02-01 11:51] theMK2k commented on #46
Sorry, I can't help without additional information, issue closed for now. Re-open if you find the time to provide help in analysis of the problem.

[2019-02-01 11:51] #46 closed, assigned to theMK2k

[2019-02-01 18:57] theMK2k commented on #38
1.3.0b1 had a missing file, I uploaded https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.3.0b2-mk2k.zip

If you already downloaded 1.3.0b1, here is the missing file: https://metropolis-launcher.net/beta-releases/SharpCompress.dll
put it in the dll\ subfolder.

[2019-02-01 18:57] theMK2k commented on #1
1.3.0b1 had a missing file, I uploaded https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.3.0b2-mk2k.zip

If you already downloaded 1.3.0b1, here is the missing file: https://metropolis-launcher.net/beta-releases/SharpCompress.dll
put it in the dll\ subfolder.

[2019-02-02 06:09] Tetriser commented on #20
👍 I support this feature

[2019-02-02 07:11] VirgileVILE opened #47 "Much too slow."
This is not really an issue, but a relevant problem for me: metropolis launcher is really slow, way too slow. I have timed 30 seconds between the moment I click on the button "games" and the appearance of these. If you compare with a less pretty frontend such as "emulators organizer" where there is no loading time, I chose the fastest of two ... I don't know anyone who likes to wait, you lose a lo

[2019-02-02 08:38] theMK2k commented on #47
Hi @VirgileVILE,

thanks for your comment. Yeah, ML is not to be described as light-weight. And I'm happy that only people who recognize the advantages of its features do actually use it.

Yes, ML has a longer startup time. Yes ML is bloated with features.

If it's not for you, have fun with emulators organizer :)

[2019-02-02 10:24] VirgileVILE commented on #47
Currently, to be honest I still use the two softwares because you have done great work with Metropolis, it is undeniable. Thank you for your reply.
(Maybe if it is possible in the future for users to create their own skins, it'll be definitely aesthetically more interesting than other software, even if it is much slower ...)

[2019-02-02 10:48] theMK2k commented on #47
Thanks for clearing it up :)

Now I'm curious. Which are the top features in ML that keep you using it?

[2019-02-02 11:03] VirgileVILE commented on #47
I really like the retroachievements tab! But it's especially the fact that the interface is both sober and classy that I liked from the start, which is not the case of many software.

[2019-02-02 11:18] theMK2k commented on #47
Thanks, the RetroAchievements Tab is one of the latest features. Good to hear it's useful :)

I'll close this issue for now, if there is ever any big bump in startup performance, I'll let you know.

[2019-02-02 11:18] #47 closed, assigned to nobody

[2020-12-26 07:30] cirdansky opened #48 "Request: Customized launcher skins"
Hi!

Would be possible to add a feature to customize launcher's skins?
Or maybe there is already a way?
Thanks!

[2020-12-26 10:08] theMK2k commented on #48
@cirdansky thanks for your request, unfortunately this is not easily possible.

In order to create a customized skin, you need the [Devexpress Winforms Skin Editor](https://docs.devexpress.com/SkinEditor/1630/winforms-skin-editor), which can't be downloaded freely.

Also, after creating the skin it must be registered with the application. This is only possible by compiling it with the custom skin.

[2020-12-26 10:08] #48 closed, assigned to nobody

[2020-12-26 10:11] #45 closed, assigned to nobody

[2020-12-26 10:12] #43 closed, assigned to nobody

[2020-12-26 10:12] #42 closed, assigned to nobody

[2020-12-26 10:16] theMK2k commented on #40
This is already covered by
- adding the same emulator multiple times
- checking a different platform for each
- providing the appropriate command line for each

[2020-12-26 10:16] #40 closed, assigned to nobody

[2021-03-24 20:49] nothingultra opened #49 "Several issues to report"
1. When I export my eXo collection to TDL via Metro, I get an arithmetic overflow error when trying to add files larger than 2gb. I've had to select 6986 of the 7000 zips in order to avoid this overflow error.
2. During the export process, a file over 2gb was found and when prompted whether or not to export it anyway, I chose "no". After that, the status bar disappeared but I see that files are st

[2021-03-24 20:54] theMK2k commented on #49
thanks for your reports, I'll split them up to multiple tickets

[2021-03-24 20:55] theMK2k opened #50 "Arithmetic overflow error when exporting files larger than 2GB (DOS, TDL)"
cc @nothingultra

[2021-03-24 20:57] theMK2k opened #51 "Export of files larger than 2GB trigger warning and unwanted behaviour (DOS, TDL)"
cc @nothingultra

[2021-03-24 20:58] theMK2k opened #52 "Exports splits in 2GB even though not enabled (DOS, TDL)"
cc @nothingultra

[2021-03-24 20:59] theMK2k opened #53 "Disappearing logo on taskbar"
cc @nothingultra

[2021-03-24 20:59] theMK2k commented on #49
https://github.com/theMK2k/MetropolisLauncher/issues/50
https://github.com/theMK2k/MetropolisLauncher/issues/51
https://github.com/theMK2k/MetropolisLauncher/issues/52
https://github.com/theMK2k/MetropolisLauncher/issues/53

[2021-03-24 21:02] theMK2k commented on #50
@nothingultra I assume that you just want to export 2GB+ files without seeing an error, right? :)

[2021-03-24 21:03] theMK2k commented on #51
@nothingultra I assume the issue here is the disappearing status bar, anything else is OK (the dialog, the ongoing export)?

[2021-03-24 22:05] theMK2k commented on #50
@nothingultra https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.3.0b3-mk2k.zip

This beta fixes a bug where the checkbox for 2GB split wasn't correctly handled. This may also fix this reported issue. Please test and let me know (or close this issue if fixed), thanks!

[2021-03-24 22:06] theMK2k commented on #52
@nothingultra https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.3.0b3-mk2k.zip

This beta fixes a bug where the checkbox for 2GB split wasn't correctly handled. This should fix the reported issue. Please test and let me know (or close this issue if fixed), thanks!

[2021-03-30 08:20] theMK2k commented on #52
@nothingultra please provide some feedback, else I'll close this issue as being solved.

[2021-03-30 08:20] theMK2k commented on #50
@nothingultra please provide some feedback, else I'll close this issue as being solved.

[2021-07-09 09:08] itxski opened #54 "New platform"
Is there any chance that it will be "embedded" so that the user can install a new platform?

These versions 1.3 that I found here do not work, ie they work the same only with older platforms.

thanks for answer

[2021-07-09 09:38] theMK2k commented on #54
<https://metropolis-launcher.net/beta-releases/metropolis_launcher_1.3.0b3-mk2k.zip>

Settings -> Platform Settings -> Right Click -> Add Platform

![grafik](https://user-images.githubusercontent.com/16878526/125058109-3bf66e00-e0aa-11eb-9871-03dbecdb6fcf.png)

[2021-07-09 09:40] theMK2k commented on #54
Let me know for which new platform you want to use this feature and if there is something missing for you.

Metropolis Launcher can handle its predefined platforms well, but a totally unknown platform may raise further issues.

[2021-07-09 10:09] itxski commented on #54
They are mostly related to existing platforms that have already been written, but let's just say that I would like it to be totally custom for some names, for example "amstrad cpc 464 disk games" or "zx spectrum 48 demos" or or similar.

[2021-07-09 10:42] theMK2k commented on #54
Thanks for clearing that up. Yes, you can use custom platforms for that (for now) and I think there is no better option yet.

In the future I will introduce a new filter / field: **Release Type**

This is because I really do want to support Demoscene releases alongside the games. And I think that this would also address your issue more elegantly:

- the "amstrad cpc disk games" are then of platfor

[2021-07-09 11:04] itxski commented on #54
For now, everything is working properly. Great program for this type of archiving.

The Demoscene is also more than welcome.